
.open-sans-normal  {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 300;
}



.text-primary{
    color: rgb(176, 80, 255);
}
.btn-primary{
    background-color: rgb(163, 255, 127);
    font-weight: bold;
    color: rgb(2, 5, 219);
    padding: 5px 45px;
    border-radius: 5px;
    border: none;
    border-color: blue
    
}
.button{
    position-visibility: ;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 100px 200px;
    color: black;
 
}
    .nav-title{
        font-weight: 800;
        font-size: 45px;
        color: blue;
        

        }

    nav ul li{
        list-style: none;
        margin-right: 51px;
    }
    nav li a{
        text-decoration: none;
        font font-size: 20px;
        
        
    }
    nav ul{
        display: flex;
        align-items: center;
    }
    .banner-content{
        align-self: center;
    }
    
    .banner-content{
        font-size: medium;
    }
    .banner-title{
        font-size: 25px;
    }
    .banner-profile-picture{
        width: 580px;
    }
    .banner-greetings{
        font-size: 45px;
    }
    /* header */
.header{
background-image: url('../images/developer.png');
}
    .description{
        font-size: 15px;
        align-content: center;
        justify-content: space-between;
    }
         <style>
        .center-text {
            text-align: center;
        }
    
    .center{
        text-align: center;
    }
    .about{
        align-items: center;
    }
    
    
    
    
    
